Folium is used to visualize data manipulated in Python binding to the map for choropleth vsualizations.

In [5]:
import folium
import pandas as pd

Specifying path for India States geojson data.

In [6]:
country_geo = './../Data/india-states.json'

In [7]:
data = pd.read_csv('./../Data/discrete_data.csv')

In [8]:
data.head()

,Season,Sector,Category,Crop,QueryType,StateName,DistrictName,BlockName,CreatedOn,Hour of the day,Month
0,0,HORTICULTURE,Fruits,Mango,Nutrient Management,RAJASTHAN,KOTA,SANGOD,2018-12-31 20:54:08.550,20,12
1,0,AGRICULTURE,0,0,Weather,RAJASTHAN,KOTA,SANGOD,2018-12-31 20:48:22.753,20,12
2,0,AGRICULTURE,Others,Others,Weather,UTTARAKHAND,HARIDWAR,BAHADRABAD,2018-12-31 20:02:26.907,20,12
3,0,AGRICULTURE,Cereals,Paddy (Dhan),\tPlant Protection\t,WEST BENGAL,HOOGHLY,ARAMBAGH,2018-12-31 19:54:59.980,19,12
4,0,AGRICULTURE,Others,Others,Weather,RAJASTHAN,KOTA,SULTANPUR,2018-12-31 19:26:24.730,19,12

Extracting Location only data from the main data and making a dataframe of query counts of individual states for visualization.

In [9]:
data=data.drop(columns=['Season','Sector','Category','Crop','QueryType','DistrictName','BlockName'])

In [10]:
geo_counts=data.StateName.value_counts()

In [11]:
geo_counts.dtypes

dtype('int64')

In [12]:
geo_pd=pd.DataFrame(geo_counts)

In [13]:
geo_pd=geo_pd.reset_index()

In [14]:
geo_pd.columns = ['StateName', 'Count']

Capitalizing state name for match with geojson data

In [15]:
geo_pd['StateName']=geo_pd['StateName'].str.title()

In [16]:
geo_pd

       StateName  Count
0      Telangana  17258
1      Rajasthan   8003
2  Uttar Pradesh   7777
3        Gujarat   6507
4    West Bengal   6064
5    Uttarakhand   4587
6   Chhattisgarh   3733

Initialization of map starting point for view and amount of zoom around the point

In [17]:
map = folium.Map(location=[21, 78], zoom_start=4.3, tiles ='Stamen Terrain')

Mapping data onto map by state name matching featur feature.id in geojson data

In [18]:
map.choropleth(geo_data=country_geo, data=geo_pd,
         columns=['StateName', 'Count'],
         key_on='feature.id',
         fill_color='YlOrRd', fill_opacity=0.7, line_opacity=0.2,
         legend_name='Queries Count')

C:\Users\A Busy Jet\Anaconda3\lib\site-packages\folium\folium.py:415: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

In [19]:
coor = pd.read_csv('./../Data/india-states-lalo.csv')

In [20]:
coor

      Place Name   Latitude  Longitude  Count
0      Telangana  17.123184  79.208824  17258
1   Chhattisgarh  21.295132  81.828232   8003
2  Uttar Pradesh  28.207609  79.826660   7777
3    West Bengal  22.978624  87.747803   6507
4        Gujarat  22.309425  72.136230   6064
5      Rajasthan  27.391277  73.432617   4587
6    Uttarakhand  30.066800  79.019300   3733

In [21]:
for i in range(0,len(coor)):
    location=[coor.iloc[i]['Latitude'], coor.iloc[i]['Longitude']]
    popup = ('District: ' + str(coor.iloc[i]['Place Name']) + 
             ';  ' + 'Queries Count: ' + str(coor.iloc[i]['Count']))
    marker = folium.Marker(location = location, popup = popup)
    marker.add_to(map)

Resultant map is saved as an html file in the specified location. Hover and click on the marker for more details.

In [22]:
# Create Folium plot
map.save('./../Plots/plot_data.html')# Import the Folium interactive html file
from IPython.display import HTML
HTML('<iframe src=./../Plots/plot_data.html width=700 height=450></iframe>')

C:\Users\A Busy Jet\Anaconda3\lib\site-packages\IPython\core\display.py:694: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")